<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-4 offset-sm-4">


        <h1>Checkout</h1>
        <h4>Total:{{cart.totalPrice}} $ </h4>
        <div id="charge-error" class="alert alert-danger {{#if noErrors}} d-none {{/if}}">
            {{errMsg}}
        </div>


        <form action="/checkout" method="post" id="checkout-form">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">


            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control" required name="name">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="address">address</label>
                    <input type="text" id="address" class="form-control" required name="address">
                </div>
            </div>
            <hr>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-name">card-name</label>
                    <input type="text" id="card-name" class="form-control" required>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-number">card-number</label>
                    <input type="text" id="card-number" class="form-control" required>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="card-expiry-month">card-expiry-month</label>
                    <input type="text" id="card-expiry-month" class="form-control" required>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="card-expiry-year">card-expiry-year</label>
                    <input type="text" id="card-expiry-year" class="form-control" required>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-cvc">cvc</label>
                    <input type="text" id="card-cvc" class="form-control" required>
                </div>
            </div>


            <button type="submit" class="btn btn-success">submit!</button>
        </form>

    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>