<h1>sign up</h1>

{{#if hasErrors}}
<div class="alert alert-danger">
    <ul>
        {{#each messages}}
        <li>{{this}}</li>
        {{/each}}
</div>
</ul>
{{/if}}
<form method="POST" action="/user/signin">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" name="email" id="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-success form-control">
            <i class="fa fa-signin"></i> sign In</button>
    </div>
</form>